<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <div >
        <h1>
            Demo Input
        </h1>
    </div>
    <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm" class="d-flex flex-column gap-5 w-1-3" >
        <app-common-input type="email" formControlName="email" [postfix]="postfix"
                          [postfixRef]="postfixRef" postfix="@gmail.com" labelName="Email" placeholder="Enter your email">
            <mat-icon inputPreIcon>email</mat-icon>
            <!--            <mat-icon inputPostIcon (click)="openDialog()" style="cursor: pointer;">add</mat-icon>-->
        </app-common-input>
        Email:  {{ loginForm.get('email')?.value }}
        <app-common-input [type]="passwordType" formControlName="password" labelName="Password" [disabled]="false" placeholder="Enter your password">
            <mat-icon inputPreIcon>key</mat-icon>
            @if (passwordType === 'password') {
                <mat-icon inputPostIcon (click)="toggleVisbilityPass()" style="cursor: pointer;">visibility</mat-icon>
            } @else {
                <mat-icon inputPostIcon (click)="toggleVisbilityPass()" style="cursor: pointer;">visibility_off</mat-icon>
            }
        </app-common-input>
        Password:  {{ loginForm.get('password')?.value }}
        <app-common-input [type]="passwordType" formControlName="confirmPassword" labelName="Confirm Password" [disabled]="true" placeholder="Enter your password again">
            <mat-icon inputPreIcon>key</mat-icon>
            @if (passwordType === 'password') {
                <mat-icon inputPostIcon (click)="toggleVisbilityPass()" style="cursor: pointer;">visibility</mat-icon>
            } @else {
                <mat-icon inputPostIcon (click)="toggleVisbilityPass()" style="cursor: pointer;">visibility_off</mat-icon>
            }
        </app-common-input>

        <button type="submit" appCommonButton
                [variant]="'outline'">Submit
        </button>
        {{ loginForm.value | json }}
    </form>
</div>

<ng-template #postfixRef>
    <select class="form-select" aria-label="Default select example" style="width: fit-content" autocomplete="off" (change)="handleInput($event)">
        <option value="@gmail.com">&#64;gmail.com</option>
        <option value="@yahoo.com">&#64;yahoo.com</option>
        <option value="@apple.com">&#64;apple.com</option>
    </select>
</ng-template>
