<section class="h-100" style="background-color: #f4f5f7;">
    <div class="buckets-container">
        <div class="d-flex align-items-center justify-content-between buckets-header">
            <h1>Bucket {{ bucketId() }}'s items</h1>
            <div class="d-flex align-items-center justify-content-evenly buckets-features">
                <div class="buckets-search-field">
                    <app-common-search
                        label="Search item"
                        (filterChange)="handleSearchBucketItem($event)"
                        [query]="paramObj.query"
                    >
                    </app-common-search>
                </div>
                <div class="d-flex align-items-center justify-content-center buckets-buttons">

                    <button mat-raised-button (click)="openAddBucketItemDialog()">
                        <mat-icon>format_list_bulleted_add</mat-icon>
                        Add item
                    </button>
                </div>
            </div>
        </div>

        <!--        items list-->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedIndexChange)="handleTabChange($event)"
                       [(selectedIndex)]="indexTab">
            <mat-tab label="All tasks">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
            <mat-tab label="Completed">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
            <mat-tab label="Pending">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
        </mat-tab-group>

    </div>
</section>

<ng-template #tabContent>
    <div class="items-tab-content">

        <div class="task-field">
            @for (task of taskList(); track task.id) {

                <div class="task-container" (click)="openEditBucketDialog(task)">
                    <div class="task-line" style="font-size: 20px;">
                        <mat-icon>
                            assignment
                        </mat-icon>
                        <span>Task id: {{ task.id }}</span>
                    </div>
                    <div class="task-line task-big-line line-climb-3">
                        <span>Title: </span>
                        <span
                            [matTooltip]="'Tranh thủ đi chơi Noel sớm các bạn ơii 🥰\n'+
'                            Chờ gì nữa mà không cùng nhau hoà vào không khí Giáng Sinh của Hà Nội 🎄❄🎁'"
                            matTooltipPosition="above"
                        >
                            {{ task.content }}
                            Tranh thủ đi chơi Noel sớm các bạn ơii 🥰
                            Chờ gì nữa mà không cùng nhau hoà vào không khí Giáng Sinh của Hà Nội 🎄❄🎁
                        </span>
                    </div>
                    <div class="task-line line-climb-3">
                        <span>Time: </span>
                        <span>{{ task.createdAt | date:'short' }}</span>
                    </div>
                    <div class="task-line">
                        <span>Status:</span>
                        @if (task.done) {
                            <mat-icon class="status-public-color">
                                assignment_turned_in
                            </mat-icon>
                            <span class="status-public-color">
                                Done
                            </span>
                        } @else {
                            <mat-icon class="status-private-color">
                                pending_actions
                            </mat-icon>
                            <span class="status-private-color">
                                Pending
                            </span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <mat-paginator class="invisible-background" [showFirstLastButtons]="true" (page)="pageChangedV3($event)"
                           [pageSize]="pageSize"
                           [length]="totalItems" [pageSizeOptions]="pageSizeOptions"
                           [pageIndex]="pageNumber - 1"></mat-paginator>

        </div>
    </div>
</ng-template>
