<section class="h-100" style="background-color: #f4f5f7;">
    <div class="buckets-container">
        <div class="d-flex align-items-center justify-content-between buckets-header">
            <h2>Bucket {{ bucketId() }}'s items</h2>
            <div class="d-flex align-items-center justify-content-evenly buckets-features">
                <div class="buckets-search-field">
                    <app-common-search
                        [label]="'Search_task' | translate"
                        (filterChange)="handleSearchBucketItem($event)"
                        [query]="paramObj.query"
                    >
                    </app-common-search>
                </div>
                <div class="d-flex align-items-center justify-content-center buckets-buttons">

                    <button mat-raised-button (click)="openAddBucketItemDialog()">
                        <mat-icon>format_list_bulleted_add</mat-icon>
                        {{ 'ADD_TASK' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!--        items list-->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedIndexChange)="handleTabChange($event)"
                       [(selectedIndex)]="indexTab">
            <mat-tab [label]="'ALL_TASKS' | translate">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
            <mat-tab [label]="'COMPLETED' | translate">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
            <mat-tab [label]="'PENDING' | translate">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
            </mat-tab>
        </mat-tab-group>

    </div>
</section>

<ng-template #tabContent>
    <div class="items-tab-content">

        <div class="task-field">
            @for (task of taskList(); track task.id) {

                <div class="task-container" (click)="openEditBucketDialog(task)">
                    <div class="task-line" style="font-size: 20px;">
                        <mat-icon>
                            assignment
                        </mat-icon>
                        <span>{{ 'TASK_ID' | translate }}: {{ task.id }}</span>
                    </div>
                    <div class="task-line task-big-line line-climb-3">
                        <span>{{ 'TITLE' | translate }}: </span>
                        <span
                            [matTooltip]="task.content"
                            matTooltipPosition="above"
                        >
                            {{ task.content }}
                        </span>
                    </div>
                    <div class="task-line line-climb-3">
                        <span>{{ 'TIME' | translate }}: </span>
                        <span>{{ task.createdAt | date:'short' }}</span>
                    </div>
                    <div class="task-line">
                        <span>{{ 'STATUS' | translate }}:</span>
                        @if (task.done) {
                            <mat-icon class="status-public-color">
                                assignment_turned_in
                            </mat-icon>
                            <span class="status-public-color">
                                {{ 'COMPLETED' | translate }}
                            </span>
                        } @else {
                            <mat-icon class="status-private-color">
                                pending_actions
                            </mat-icon>
                            <span class="status-private-color">
                                {{ 'PENDING' | translate }}
                            </span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <mat-paginator class="invisible-background" [showFirstLastButtons]="true" (page)="pageChangedV3($event)"
                           [pageSize]="pageSize"
                           [length]="totalItems" [pageSizeOptions]="pageSizeOptions"
                           [pageIndex]="pageNumber - 1"></mat-paginator>

        </div>
    </div>
</ng-template>
