<section class="h-100" style="background-color: #f4f5f7;">
    <div class="buckets-container">
        <div class="d-flex align-items-center justify-content-between buckets-header">
            <h1>Bucket {{ bucketId() }}'s items</h1>

        </div>

        <!--        items list-->
        <div class="task-field">
            @for (task of taskList(); track task) {

                <div class="task-container">
                    <div class="task-line" style="font-size: 20px;">
                        <mat-icon>
                            assignment
                        </mat-icon>
                        <span>Task id: 12</span>
                    </div>
                    <div class="task-line task-big-line line-climb-3">
                        <span>Title: </span>
                        <span
                            [matTooltip]="'Tranh thủ đi chơi Noel sớm các bạn ơii 🥰\n'+
'                            Chờ gì nữa mà không cùng nhau hoà vào không khí Giáng Sinh của Hà Nội 🎄❄🎁'"
                            matTooltipPosition="above"
                        >
                            Tranh thủ đi chơi Noel sớm các bạn ơii 🥰
                            Chờ gì nữa mà không cùng nhau hoà vào không khí Giáng Sinh của Hà Nội 🎄❄🎁
                        </span>
                    </div>
                    <div class="task-line line-climb-3">
                        <span>Time: </span>
                        <span>2021-09-09, 12:00</span>
                    </div>
                    <div class="task-line">
                        <span>Status:</span>
                        <mat-icon>
                            pending_actions
                        </mat-icon>
                        <mat-icon>
                            assignment_turned_in
                        </mat-icon>
                    </div>
                </div>
            }
            <mat-paginator class="invisible-background" [showFirstLastButtons]="true" (page)="pageChanged($event)" [pageSize]="pageSize"
                           [length]="totalItems" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNumber - 1"></mat-paginator>
        </div>
    </div>
</section>
