.welcome-container {
    background-image: linear-gradient(to top, #73a8f8, #5792fe, #4779ff, #4a5cfc, #5d35f2);
    color: white;
    text-align: center;
}

.welcome-primary-btn {
    border: none;
    background-color: rgba(219, 75, 44, 0.9);
}

.welcome-primary-btn:hover {
    background-color: rgba(252, 44, 0, 1);
    color: white;
}
