<div class="common-input" [ngClass]="{
        'disabled': disabled()
      }">
    @if (labelName()) {
        <label [for]="for()">{{ labelName() | translate }}</label>
    }
    <div class="common-input-container" [ngClass]="{
        'error-border': control && control.errors && control.dirty,
        'disabled': disabled()
      }">
        <ng-content select="[inputPreIcon]"></ng-content>
        <input
            #input
            [type]="type()"
            [name]="for()"
            class="flex-grow-1"
            [placeholder]="placeholder()"
            [required]="required()"
            [disabled]="disabled()"
            [ngClass]="{ disabled: disabled() }"
            (input)="onInput($event)"
            (focusout)="onFocusOut()"
        >
        <mat-icon class="common-input-clear-icon" (click)="clearValue()">cancel</mat-icon>
        @if (postfixRef) {
            <ng-container *ngTemplateOutlet="postfixRef"></ng-container>
        }
        <ng-content select="[inputPostIcon]"></ng-content>
    </div>
    @if (control && control.errors && control.dirty) {
        <mat-error appInputErrors [errors]="control.errors" [fieldName]="labelName() | translate"
                   class="common-input-error"></mat-error>
    }
</div>
