<div class="setting-container d-flex justify-content-center align-items-center">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="w-100" autocomplete="off">

    <div class="form-group avatar-image-settings d-flex align-items-center justify-content-evenly">
      <mat-label>Your avatar</mat-label>
      <img (error)="handleErrorAvatar()" [src]="avatarUrl" alt="Avatar" class="avatar-image">
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
<!--      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" formControlName="avatar">-->
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required autocomplete="off">
        <mat-error *ngIf="profileForm.get('username')?.hasError('required')">Username is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email autocomplete="off">
        <mat-error *ngIf="profileForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="profileForm.get('email')?.hasError('email')">Invalid email</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required autocomplete="off">
        <mat-error *ngIf="profileForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Update</button>
  </form>
</div>
