.avatar-image {
  width:80px;
  height: 80px;
  border-radius: 100px;
}

.setting-container {
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 1rem
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.avatar-image-settings {
  height: 80px;
}
