<section class="h-100" style="background-color: #f4f5f7;">
    <div class="buckets-container">
        <div class="d-flex align-items-center justify-content-between buckets-header">
            <h2>{{ 'Buckets_list' | translate }}</h2>
            <div class="d-flex align-items-center justify-content-evenly buckets-features">
                <div class="buckets-search-field">

                <app-common-search
                    [label]="'Search_bucket' | translate"
                    (filterChange)="handleSearchBucket($event)"
                    [query]="paramObj.query"
                >
                </app-common-search>
                </div>
                <div class="d-flex align-items-center justify-content-center buckets-buttons">

                    <button mat-raised-button (click)="openAddBucketDialog()">
                        <mat-icon>format_list_bulleted_add</mat-icon>
                        {{ 'ADD_BUCKET' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 col-xl-10">

                <div class="card mask-custom">
                    <div class="card-body p-4 text-white">
                        <table class="table text-white mb-0">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'BUCKET' | translate }}</th>
                                <th scope="col">{{ 'STATUS' | translate }}</th>
                                <th scope="col">{{ 'CREATED_AT' | translate }}</th>
                                <th scope="col">{{ 'ACTIONS' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (bucket of buckets(); track bucket.id) {
                                    <tr class="fw-normal">
                                        <td class="align-middle" style="width: 40%">
                                            <span> {{ bucket.title }}</span>
                                        </td>
                                        <td class="align-middle">
                                            @if (bucket.public) {
                                                <h6 class="mb-0"><span class="badge bg-success">{{ 'PUBLIC' | translate }}</span></h6>
                                            } @else {
                                                <h6 class="mb-0"><span class="badge bg-danger">{{ 'PRIVATE' | translate }}</span></h6>
                                            }

                                        </td>
                                        <td class="align-middle">
                                            {{ bucket.createdAt }}
                                        </td>
                                        <td class="align-middle">
                                            <button mat-fab extended (click)="openEditBucketDialog(bucket)"
                                                    class="mr-8">
                                                <mat-icon>edit</mat-icon>
                                                {{ 'EDIT' | translate }}
                                            </button>
                                            <button mat-fab extended (click)="openBucketTasks(bucket)">
                                                <mat-icon>assignment</mat-icon>
                                                {{ 'DETAIL' | translate }}
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <mat-paginator class="invisible-background" [showFirstLastButtons]="true" (page)="pageChangedV2($event)"
                               [pageSize]="pageSize"
                               [length]="totalItems" [pageSizeOptions]="pageSizeOptions"
                               [pageIndex]="pageNumber - 1"></mat-paginator>
            </div>
        </div>
    </div>
</section>
