<div class="bucket-container">
    <mat-form-field class="bucket-edit-line">
        <mat-label>{{ 'TITLE' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="title" required #bucketTitle="ngModel">
        @if (title) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <div class="bucket-edit-line">

        <mat-slide-toggle
            [(ngModel)]="isPublic"
            #bucketStatus="ngModel"
        >
            <span [ngClass]="isPublic ? 'status-public-color' : 'status-private-color'">
            {{ (isPublic ? 'PUBLIC' : 'PRIVATE') | translate }}
            </span>
        </mat-slide-toggle>
    </div>
    @if (!isCreate) {
        <div class="bucket-edit-line">
            <span>{{ 'CREATED_AT' | translate }}:</span>
            <span>{{ matData.createdAt || ''  |  date:'short' }}</span>
        </div>
        <div class="bucket-edit-line">
            <span>Last update time:</span>
            <span>{{ matData.updatedAt || '' | date:'short' }}</span>
        </div>
    }
    <div class="w-100 d-flex justify-content-between bucket-edit-line">
        @if (isCreate) {
            <button mat-flat-button (click)="createBucket()" [disabled]="bucketTitle.invalid">{{ 'CREATE' | translate }}</button>
        } @else {
            <button mat-flat-button (click)="updateBucket()" [disabled]="bucketTitle.invalid || (!bucketTitle.dirty && !bucketStatus.dirty)">{{ 'UPDATE' | translate }}</button>
            <button mat-flat-button class="sub-btn" (click)="handleDeleteBucket()">{{ 'DELETE' | translate }}</button>
        }
    </div>
</div>
